.item-cart {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
}
.item-cart .item-cart-img {
  min-width: 100px;
  text-align: center;
}
.item-cart .item-cart-img img {
  max-width: 80px;
  max-height: 70px;
}
.item-cart .item-cart-info {
  width: 50%;
  border-bottom: 1px solid #74959a;
}
.item-cart .item-cart-info a {
  text-decoration: none;
  color: inherit;
}
.item-cart .item-cart-info a h2 {
  font-size: 14px;
  margin: 0;
}
.item-cart .item-cart-info a h3 {
  font-size: 20px;
  display: inline-block;
}
.item-cart .item-cart-info h6 {
  float: right;
  padding-right: 12px;
  margin: 4px 0;
}
.item-cart .item-cart-remove button {
  background: none;
  border: none;
  color: #495371;
  font-size: 20px;
  margin-bottom: 12px;
}
