.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  padding-top: 100px;
}
.product .back {
  position: absolute;
  top: 8px;
  left: 6px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: #F44336;
  border-radius: 3px;
}
.product img {
  max-width: 300px;
  max-height: 210px;
}
.product h1 {
  margin: 0;
}
.product .text-muted {
  font-size: 12px;
}
.product .description{
  margin-top: 32px;
  max-width: 700px;
}
.product .add{
  border: none;
  background-color: #F44336;
  height: 30px;
  width: 90px;
  border-radius: 3px;
}